name: VirusTotal Scan

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  scan:
    name: Scan Release Assets
    runs-on: ubuntu-latest
    steps:
      - uses: cssnr/virustotal-action@v1
        with:
          vt_api_key: ${{ secrets.VT_API_KEY }}
